{% for j in gpss.jobs %}
{% if j.name is defined -%}
   # {{ j.name }}
{% endif %}

source /usr/local/greenplum-db/greenplum_path.sh && gpsscli submit --verbose --name {{ j.name }} --gpss-port {{ j.gpss_port }} \
{{ gpss.base_dir }}/{{ j.job_config }}

{%- endfor %}
