{% for j in gpss.jobs %}
{% if j.name is defined -%}
   # {{ j.name }}
{% endif %}

source /usr/local/greenplum-db/greenplum_path.sh && \
gpsscli list --verbose --all --gpss-port {{ j.gpss_port }}

{%- endfor %}
