{% for j in kafka.jobs %}
{% if j.name is defined -%}
   # {{ j.name }}
{% endif %}

source /usr/local/greenplum-db/greenplum_path.sh && \
psql -d {{ gpss.database_name }} -c "SELECT count(*) FROM public.{{ j.table_name }};"

{%- endfor %}

