{% for j in kafka.jobs %}
{% if j.name is defined -%}
   # {{ j.name }}
{% endif %}

/usr/local/kafka/bin/kafka-run-class.sh kafka.tools.GetOffsetShell \
--bootstrap-server {{ kafka.broker_hosts }} \
--topic {{ j.topic_name }} --time -2

{%- endfor %}
