-- CREATE TABLE ibl.iiblcect001tm (
CREATE TEMP TABLE {{ kafka.jobs[3].table_name }} (
    ebnk_utzpe_no text,
    cdp_onld_dtm text,
    ebnk_ctr_stcd text,
    itcsno text,
    user_dscd text,
    ebnk_ctr_srno numeric,
    ebnk_ctr_dt text,
    ebnk_ctr_canc_dt text,
    pwno_rgs_dt text,
    ebnk_fst_usg_dt text,
    ebnk_fst_ctr_mng_brcd text,
    ebnk_ctr_mng_brcd text,
    bfch_mng_brcd text,
    mnbr_chg_dt text,
    ebnk_mnbr_chg_rncd text,
    pwno_ver text,
    ency_tp_txt text,
    ebnk_scrt_gdcd text,
    ebnk_twoch_crtf_yn text,
    splt_cerd_usg_yn text,
    pwno_ppad_rgs_yn text,
    pwno_ppad_rgs_dt text,
    pwno_ppad_chg_dt text,
    utzpe_pwno_chg_dt text,
    pwno_pst_rgs_tgt_yn text,
    chnl_act_rgs_uabl_yn text,
    mo_cop_ebnk_utzpe_no text,
    rgs_chnl_dscd text,
    anex_bnkg_yn text,
    ts_sms_crtf_dscd text,
    usg_tm_dscd text,
    scrt_md_dscd text,
    psn_bzpe_itcsno text,
    fee_dfpm_levy_yn text,
    ts_lmt_rdcm_yn text,
    psn_bzpe_yn text,
    bat_dfpm_levy_yn text,
    ebnk_rcv_dgn_dscd text,
    ebnk_inq_user_yn text,
    ltm_nuse_lim_yn text,
    spms_utzpe_yn text,
    ebnk_fst_usg_trn_cd text,
    lst_trn_dtm text,
    trn_log_srno text,
    lst_db_chg_id text,
    lst_db_chg_dtm text
)
WITH (appendonly='true', compresstype=zstd, compresslevel='7')
DISTRIBUTED BY (ebnk_utzpe_no);
-- WITH (appendoptimized='true', compresstype=zstd, compresslevel='7')
