{
  "ListenAddress": {
    "Host": "",
    "Port": {{ gpss.jobs[0].gpss_port }},
    "SSL": false,
    "DebugPort": 9999
  },
  "Gpfdist": {
    "Host": "",
    "Port": {{ gpss.jobs[0].gpfdist_port }}
  }
}
