{
  "ListenAddress": {
    "Host": "",
    "Port": {{ gpss.jobs[2].gpss_port }},
    "SSL": false,
    "DebugPort": 9998
},
    "Gpfdist": {
      "Host": "",
      "Port": {{ gpss.jobs[2].gpfdist_port }}
    }
}
