{
  "ListenAddress": {
    "Host": "",
    "Port": {{ gpss_load_test_port }},
    "SSL": false,
    "DebugPort": 9998
},
    "Gpfdist": {
      "Host": "",
      "Port": {{ gpfdist_load_test_port }}
    }
}
