{
  "ListenAddress": {
    "Host": "",
    "Port": {{ gpss.jobs[1].gpss_port }},
    "SSL": false,
    "DebugPort": 9997
},
    "Gpfdist": {
      "Host": "",
      "Port": {{ gpss.jobs[1].gpfdist_port }}
    }
}
