{
  "ListenAddress": {
    "Host": "",
    "Port": {{ gpss_delete_test_port }},
    "SSL": false,
    "DebugPort": 9997
},
    "Gpfdist": {
      "Host": "",
      "Port": {{ gpfdist_delete_test_port }}
    }
}
