DATABASE: {{ gpss_database_name }}
HOST: {{ gpss_mdw_hostname }}
USER: gpadmin
PASSWORD: changeme
PORT: 5432
KAFKA:
  INPUT:
    ERROR_LIMIT: 1000
    SOURCE:
      BROKERS: {{ kafka_broker_hosts }}
      TOPIC: {{ kafka_delete_test_topic_name }}
    VALUE:
      COLUMNS:
      - NAME: jdata
        TYPE: jsonb
      FORMAT: JSON
  METADATA:
    SCHEMA: public
  OUTPUT:
    DELETE_CONDITION: (jdata ->> 'op_flag')::text = 'D'
    MAPPING:
    - EXPRESSION: (jdata ->> 'EBNK_UTZPE_NO')::text
      NAME: ebnk_utzpe_no
    - EXPRESSION: TO_CHAR(clock_timestamp(), 'yyyymmddHH24missus')
      NAME: cdp_onld_dtm
    - EXPRESSION: (jdata ->> 'EBNK_CTR_STCD')::text
      NAME: ebnk_ctr_stcd
    - EXPRESSION: (jdata ->> 'ITCSNO')::text
      NAME: itcsno
    - EXPRESSION: (jdata ->> 'USER_DSCD')::text
      NAME: user_dscd
    - EXPRESSION: (jdata ->> 'EBNK_CTR_SRNO')::numeric
      NAME: ebnk_ctr_srno
    - EXPRESSION: (jdata ->> 'EBNK_CTR_DT')::text
      NAME: ebnk_ctr_dt
    - EXPRESSION: (jdata ->> 'EBNK_CTR_CANC_DT')::text
      NAME: ebnk_ctr_canc_dt
    - EXPRESSION: (jdata ->> 'PWNO_RGS_DT')::text
      NAME: pwno_rgs_dt
    - EXPRESSION: (jdata ->> 'EBNK_FST_USG_DT')::text
      NAME: ebnk_fst_usg_dt
    - EXPRESSION: (jdata ->> 'EBNK_FST_CTR_MNG_BRCD')::text
      NAME: ebnk_fst_ctr_mng_brcd
    - EXPRESSION: (jdata ->> 'EBNK_CTR_MNG_BRCD')::text
      NAME: ebnk_ctr_mng_brcd
    - EXPRESSION: (jdata ->> 'BFCH_MNG_BRCD')::text
      NAME: bfch_mng_brcd
    - EXPRESSION: (jdata ->> 'MNBR_CHG_DT')::text
      NAME: mnbr_chg_dt
    - EXPRESSION: (jdata ->> 'EBNK_MNBR_CHG_RNCD')::text
      NAME: ebnk_mnbr_chg_rncd
    - EXPRESSION: (jdata ->> 'PWNO_VER')::text
      NAME: pwno_ver
    - EXPRESSION: (jdata ->> 'ENCY_TP_TXT')::text
      NAME: ency_tp_txt
    - EXPRESSION: (jdata ->> 'EBNK_SCRT_GDCD')::text
      NAME: ebnk_scrt_gdcd
    - EXPRESSION: (jdata ->> 'EBNK_TWOCH_CRTF_YN')::text
      NAME: ebnk_twoch_crtf_yn
    - EXPRESSION: (jdata ->> 'SPLT_CERD_USG_YN')::text
      NAME: splt_cerd_usg_yn
    - EXPRESSION: (jdata ->> 'PWNO_PPAD_RGS_YN')::text
      NAME: pwno_ppad_rgs_yn
    - EXPRESSION: (jdata ->> 'PWNO_PPAD_RGS_DT')::text
      NAME: pwno_ppad_rgs_dt
    - EXPRESSION: (jdata ->> 'PWNO_PPAD_CHG_DT')::text
      NAME: pwno_ppad_chg_dt
    - EXPRESSION: (jdata ->> 'UTZPE_PWNO_CHG_DT')::text
      NAME: utzpe_pwno_chg_dt
    - EXPRESSION: (jdata ->> 'PWNO_PST_RGS_TGT_YN')::text
      NAME: pwno_pst_rgs_tgt_yn
    - EXPRESSION: (jdata ->> 'CHNL_ACT_RGS_UABL_YN')::text
      NAME: chnl_act_rgs_uabl_yn
    - EXPRESSION: (jdata ->> 'MO_COP_EBNK_UTZPE_NO')::text
      NAME: mo_cop_ebnk_utzpe_no
    - EXPRESSION: (jdata ->> 'RGS_CHNL_DSCD')::text
      NAME: rgs_chnl_dscd
    - EXPRESSION: (jdata ->> 'ANEX_BNKG_YN')::text
      NAME: anex_bnkg_yn
    - EXPRESSION: (jdata ->> 'TS_SMS_CRTF_DSCD')::text
      NAME: ts_sms_crtf_dscd
    - EXPRESSION: (jdata ->> 'USG_TM_DSCD')::text
      NAME: usg_tm_dscd
    - EXPRESSION: (jdata ->> 'SCRT_MD_DSCD')::text
      NAME: scrt_md_dscd
    - EXPRESSION: (jdata ->> 'PSN_BZPE_ITCSNO')::text
      NAME: psn_bzpe_itcsno
    - EXPRESSION: (jdata ->> 'FEE_DFPM_LEVY_YN')::text
      NAME: fee_dfpm_levy_yn
    - EXPRESSION: (jdata ->> 'TS_LMT_RDCM_YN')::text
      NAME: ts_lmt_rdcm_yn
    - EXPRESSION: (jdata ->> 'PSN_BZPE_YN')::text
      NAME: psn_bzpe_yn
    - EXPRESSION: (jdata ->> 'BAT_DFPM_LEVY_YN')::text
      NAME: bat_dfpm_levy_yn
    - EXPRESSION: (jdata ->> 'EBNK_RCV_DGN_DSCD')::text
      NAME: ebnk_rcv_dgn_dscd
    - EXPRESSION: (jdata ->> 'EBNK_INQ_USER_YN')::text
      NAME: ebnk_inq_user_yn
    - EXPRESSION: (jdata ->> 'LTM_NUSE_LIM_YN')::text
      NAME: ltm_nuse_lim_yn
    - EXPRESSION: (jdata ->> 'SPMS_UTZPE_YN')::text
      NAME: spms_utzpe_yn
    - EXPRESSION: (jdata ->> 'EBNK_FST_USG_TRN_CD')::text
      NAME: ebnk_fst_usg_trn_cd
    - EXPRESSION: (jdata ->> 'LST_TRN_DTM')::text
      NAME: lst_trn_dtm
    - EXPRESSION: (jdata ->> 'TRN_LOG_SRNO')::text
      NAME: trn_log_srno
    - EXPRESSION: (jdata ->> 'LST_DB_CHG_ID')::text
      NAME: lst_db_chg_id
    - EXPRESSION: (jdata ->> 'LST_DB_CHG_DTM')::text
      NAME: lst_db_chg_dtm
    MATCH_COLUMNS:
    - ebnk_utzpe_no
    MODE: MERGE
    ORDER_COLUMNS:
    - lst_db_chg_dtm
    SCHEMA: public
    TABLE: {{ kafka_delete_test_table_name }}
  PROPERTIES:
    group.id: gpss_{{ kafka_delete_test_topic_name }}
  COMMIT:
    IDLE_DURATION: -1
VERSION: 2
SCHEDULE:
  RETRY_INTERVAL: 10s
  MAX_RETRIES: 3
