{% for k in kafka.jobs %}
{% if k.topic_name is defined -%}
   # {{ k.topic_name }}
{% endif %}
/usr/local/kafka/bin/kafka-topics.sh --create --bootstrap-server {{ kafka.broker_hosts }} --replication-factor {{ kafka.replication_factor }} --partitions {{ kafka.partitions }} --topic {{ k.topic_name }}
{%- endfor %}
