/usr/local/kafka/bin/kafka-console-producer.sh --broker-list {{ kafka_broker_hosts }} \
--topic {{ kafka_topic_name }} < {{ kafka_base_dir }}/sample_data.json

/usr/local/kafka/bin/kafka-console-producer.sh --broker-list {{ kafka_broker_hosts }} \
--topic {{ kafka_load_test_topic_name }} < {{ kafka_base_dir }}/data_source.csv

/usr/local/kafka/bin/kafka-console-producer.sh --broker-list {{ kafka_broker_hosts }} \
--topic {{ kafka_delete_test_topic_name }} < {{ kafka_base_dir }}/data_source.json
