/usr/local/kafka/bin/kafka-topics.sh --bootstrap-server {{ kafka_broker_hosts }} --topic {{ kafka_topic_name }} --delete

/usr/local/kafka/bin/kafka-topics.sh --bootstrap-server {{ kafka_broker_hosts }} --topic {{ kafka_load_test_topic_name }} --delete

/usr/local/kafka/bin/kafka-topics.sh --bootstrap-server {{ kafka_broker_hosts }} --topic {{ kafka_delete_test_topic_name }} --delete
