<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property>
        <name>fs.s3a.endpoint</name>
        <value>https://{{ hostvars[groups['s3_storage'][0]]['ansible_eth0']['ipv4']['address'] }}:9000</value>
    </property>
    <property>
        <name>fs.s3a.access.key</name>
        <value>{{ minio.s3_access_key }}</value>
    </property>
    <property>
        <name>fs.s3a.secret.key</name>
        <value>{{ minio.s3_secret_key }}</value>
    </property>
    <property>
        <name>fs.s3a.fast.upload</name>
        <value>true</value>
    </property>
    <property>
        <name>fs.s3a.path.style.access</name>
        <value>true</value>
    </property>
</configuration>
