pidfile = {{ pgbouncer_pidfile }}
listen_addr = {{ pgbouncer_listen_addr }}
listen_port = {{ pgbouncer_listen_port }}
unix_socket_dir = {{ pgbouncer_unix_socket_dir }}
unix_socket_mode = {{ pgbouncer_unix_socket_mode }}
unix_socket_group = {{ pgbouncer_unix_socket_group }}
pkt_buf = {{ pgbouncer_pkt_buf }}
listen_backlog = {{ pgbouncer_listen_backlog }}
disable_pqexec = {{ pgbouncer_disable_pqexec }}
job_name = {{ pgbouncer_job_name }}
