pidfile = {{ _pgbouncer.pidfile }}
listen_addr = {{ _pgbouncer.listen_addr }}
listen_port = {{ _pgbouncer.listen_port }}
unix_socket_dir = {{ _pgbouncer.unix_socket_dir }}
unix_socket_mode = {{ _pgbouncer.unix_socket_mode }}
unix_socket_group = {{ _pgbouncer.unix_socket_group }}
pkt_buf = {{ _pgbouncer.pkt_buf }}
listen_backlog = {{ _pgbouncer.listen_backlog }}
disable_pqexec = {{ _pgbouncer.disable_pqexec }}
job_name = {{ _pgbouncer.job_name }}
