[Unit]
Description=Greenplum Database Runners
After=network.target sshd.service
Before=gpcc.service
Requires=sshd.service
Requisite=sshd.service
OnFailure=gpcc.service

[Service]
Type=forking
User=gpadmin
Group=gpadmin
Environment=GPDB_BASE_DIR=/usr/local/greenplum-db
ExecCondition=/bin/bash -c "touch /tmp/check_ssh_alive && source $GPDB_BASE_DIR/greenplum_path.sh && gpscp -f /home/gpadmin/hostfile /tmp/check_ssh_alive =:/tmp"
# RemainAfterExit=yes
ExecStart=/bin/bash -c "source $GPDB_BASE_DIR/greenplum_path.sh && gpstart -a"
ExecReload=/bin/bash -c "source $GPDB_BASE_DIR/greenplum_path.sh && gpstop -ra"
ExecStop=/bin/bash -c "source $GPDB_BASE_DIR/greenplum_path.sh && gpstop -a"
Restart=on-failure
TimeoutSec=300

[Install]
WantedBy=multi-user.target
# WantedBy=default.target
